<html>

  <head>
    <title>
      Slack page
    </title>
    <meta charset='utf-8' />

    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/fav/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/fav/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/fav/favicon-16x16.png'
    />
    <link rel='manifest' href='/fav/site.webmanifest' />
    <meta
      name='msapplication-TileColor'
      content='#da532c'
    />
    <meta name='theme-color' content='#ffffff' />

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/slack.css' rel='stylesheet' />

    {{! <meta name="viewport" content="width=device-width, initial-scale=1"> }}
    <meta
      name='viewport'
      content='viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'
    />

  </head>

  <body>

    <div class='page'>
      <section class='page_section'>
        <div class='page_content hero_section'>
          <div class='hero'>
            <div class='hero_content'>
              <span class='hero_label'>Slack Features</span>
              <h1 class='hero_title'>One platform for your
                team and your work</h1>
              <p class='hero_info double_line'>All the
                features of Slack work together so you can,
                too.</p>
              <div class='hero_buttons'>
                <a
                  href='#'
                  class='button button_primary click'
                >Try for free</a>
                <a
                  href='#'
                  class='button button_secondary click'
                >See all features</a>
              </div>
              <img
                src='/img/hero.jpg'
                alt='Hero'
                class='hero_image'
              />
            </div>
          </div>

          <div class='brands'>
            <img
              src='/img/brands/airbnb.png'
              alt='airbnb'
              class='brands_img'
            />
            <img
              src='/img/brands/target.png'
              alt='target'
              class='brands_img'
            />
            <img
              src='/img/brands/uber.png'
              alt='uber'
              class='brands_img'
            />
            <img
              src='/img/brands/onemedical.png'
              alt='onemedical'
              class='brands_img'
            />
            <img
              src='/img/brands/lnewscorp.png'
              alt='lnewscorp'
              class='brands_img'
            />

            <img
              src='/img/brands/va.png'
              alt='va'
              class='brands_img'
            />
            <img
              src='/img/brands/intuit.png'
              alt='intuit'
              class='brands_img'
            />
            <img
              src='/img/brands/sonos.png'
              alt='sonos'
              class='brands_img'
            />
          </div>

        </div>
      </section>

      <section class='page_section page_section_light'>
        <div class='page_content features_section'>
          <h2 class='feat_title'>Work more easily with
            everyone</h2>
          <p class='feat_description double_line'>Stay on
            the same page and make decisions faster by
            bringing all of your work communication into one
            place.</p>

          <div class='features_grid_4'>
            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style='background-image: url(/svg/feature/connect.svg)'
              ></span>
              <strong>Slack Connect</strong>
              <p class='double_line'>Collaborate with teams
                at other companies the same way you do with
                teams at your own.</p>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style='background-image: url(/svg/feature/connect.svg)'
              ></span>
              <strong
                class='feat_card_title'
              >Channels</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style='background-image: url(/svg/feature/huddless.svg)'
              ></span>
              <strong
                class='feat_card_title'
              >Huddless</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style='background-image: url(/svg/feature/clips.svg)'
              ></span>
              <strong class='feat_card_title'>Clips</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style='background-image: url(/svg/feature/canvas.svg)'
              ></span>
              <strong
                class='feat_card_title'
              >Canvas</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style='background-image: url(/svg/feature/messaging.svg)'
              ></span>
              <strong
                class='feat_card_title'
              >Messaging</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style='background-image: url(/svg/feature/accessibility.svg)'
              ></span>
              <strong
                class='feat_card_title'
              >Accessibility</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>
          </div>
        </div>
      </section>

      <section class='page_section page_section_light'>
        <div class='page_content features_section2'>

          <div class='feat_head2'>
            <h2 class='feat_title2'>What you need, when you
              need it</h2>
            <p class='feat_description2 double_line'>Spend
              less time shuffling tabs with a comprehensive
              message archive and all your work tools at
              your fingertips.</p>
          </div>

          <div class='features_grid_3'>
            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style='background-image: url(/svg/feature2/apps.svg)'
              ></span>
              <strong>Apps and Integrations</strong>
              <p class='double_line'>Streamline work by
                connecting Slack with other services like
                Google Drive, Office 365 and over 2,200
                more.</p>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style='background-image: url(/svg/feature2/workflow.svg)'
              ></span>
              <strong>Workflow Builder</strong>
              <p class='double_line'>Automate routine
                actions and communication, so you can get
                back to the kind of work only humans can do.</p>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style='background-image: url(/svg/feature2/search.svg)'
              ></span>
              <strong
                class='feat_card_title'
              >Search</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>

            <div class='feat_card'>
              <span
                class='icon feat_icon'
                style='background-image: url(/svg/feature2/file.svg)'
              ></span>
              <strong class='feat_card_title'>File sharing</strong>
              <a
                href='#'
                class='icon icon_arrow click feat_link'
              ></a>
            </div>
          </div>
        </div>
      </section>

      <section class='page_section'>
        <div class='page_content customer_section'>
          <img
            src='/img/img-deliveroo.png'
            alt='image deliveroo'
            class='cust_img'
          />
          <div class='customer_content'>
            <q class='cust_quote'>“The thing that keeps us
              connected the most is Slack. It’s a very
              immediate and straightforward method of
              communication, and really the only channel
              that people prefer and enjoy using.”</q>
            <img
              src='/img/deliveroo.png'
              alt='deliveroo'
              class='cust_logo_img'
            />
            <span class='cust_cio'>Will Sprunt, CIO,
              Deliveroo</span>
          </div>
        </div>
      </section>

      <section class='page_section'>
        <div class='page_content about_section'>
          <h3 class='about_title'>Explore more about working
            in Slack</h3>

          <div class='about_card_list'>

            <div class='about_card'>
              <img
                src='/img/slack-card1.png'
                alt='Slack Tutorials'
                class='about_card_img'
              />
              <div class='about_card_desc'>
                <div class='about_card_title_block'>
                  <p class='about_card_name'>Slack Tutorials</p>
                  <h4 class='about_card_title'>Slack 101</h4>
                </div>
                <div class='about_card_nav'>
                  <a
                    href='#'
                    class='about_btn click about_link'
                  >LEARN MORE</a>
                  <a
                    href='#'
                    class='icon icon_arrow click icon_arrow_blue'
                  ></a>
                </div>
              </div>
            </div>

            <div class='about_card'>
              <img
                src='/img/slack-card2.png'
                alt='Slack vs. Email'
                class='about_card_img'
              />
              <div class='about_card_desc'>
                <div class='about_card_title_block'>
                  <p class='about_card_name'>Slack vs. Email</p>
                  <h4 class='about_card_title'>An easier,
                    more organized way to work</h4>
                </div>
                <div class='about_card_nav'>
                  <a
                    href='#'
                    class='about_btn click about_link'
                  >LEARN MORE</a>
                  <a
                    href='#'
                    class='icon icon_arrow click icon_arrow_blue'
                  ></a>
                </div>
              </div>
            </div>

            <div class='about_card'>
              <img
                src='/img/slack-card3.png'
                alt='Customer Stories'
                class='about_card_img'
              />
              <div class='about_card_desc'>
                <div class='about_card_title_block'>
                  <p class='about_card_name'>Customer
                    Stories</p>
                  <h4 class='about_card_title'>How Fastly
                    uses Slack Connect to wow enterprise
                    customers</h4>
                </div>
                <div class='about_card_nav'>
                  <a
                    href='#'
                    class='about_btn click about_link'
                  >LEARN MORE</a>
                  <a
                    href='#'
                    class='icon icon_arrow click icon_arrow_blue'
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>

</html>